.home-header {
  //border-bottom: 1px solid $border-color;
  //background: url(../images/temp-background.jpg) no-repeat center;
  background: $brand-color-primary;
  color: #FFF;
  background-size: cover;
  @include container(100%);
  &__nav {
    background: darken($brand-color-primary,5%);
    position: relative;
    height: 100%;
    @include media("≥desktop") {
      @include span(2 of 12);
      height: 80vh;
    }
  }
  &__content {
    position: relative;
    @include media("≥desktop") {
      @include span(10 of 12 last);
      height: 80vh;
    }
  }
}

.home-cta {
  @extend %clearfix;
  text-align: center;
  @include media("≥desktop") {
    text-align: left;
    display: table;
    vertical-align: middle;
    width: 100%;
  }
  &__image {
    padding: 50px;
    text-align: center;
    img {
      height: 44vh;
    }
    @include media("≥desktop") {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      float: none;
      img {
        height: 64vh;
      }
    }
  }
  &__tagline {
    @include media("≥desktop") {
      display: table-cell;
      vertical-align: middle;
      float: none;
      width: 35%;
      max-width: 360px;
    }
  }
  .btn {
    margin-top: 10px;
  }
  &__artists {
    margin-top: 25px;
  }
}