// bower:scss
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/include-media/dist/_include-media.scss";
@import "bower_components/typi/scss/_typi.scss";
// endbower

@import "bower_components/slick-carousel/slick/slick.scss";

@import "variables";
@import "mixins";
@import "typo";
@import "components/icons";
@import "components/buttons";
@import "components/nav";
@import "components/forms";
@import "components/dialog";
@import "components/pages";
@import "components/home/header";
@import "components/creator";
@import "components/creator/creator-product";
@import "components/creator/creator-toolbar";
@import "components/creator/creator-popout";
@import "components/creator/creator-actions";
@import "components/creation";
@import "components/creation/creation-thumbnail";
@import "components/creation/creation-actions";
@import "components/creation/creation-result";

* {
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body:before {
  content: "phone";
  display: none;
  @include media("≥desktop") {
    content: "desktop";
  }
}


// RESETS


img {
  max-width: 100%;
}