.creator-design {
  position: relative;
  @include media("≥desktop") {
    @include span(7 of 12);
    height: 100vh;
  }
}

.creator-product {
  height: 100vh;
  padding-left: $toolbar-width;
  text-align: center;
  &__editor {
    top: 80px;
    height: 80%;
    background: red;
    position: relative;
    display: inline-block;
    transition: $popout-transition;
    .has-popout & {
      transform: translateX($popout-width /2);
      @include media("≥desktop") {
      }
    }
  }
  &__mask {
    height: 100%;
    img {
      height: 100%;
    } 
  }
  &__select {
    top: 20px;
    position: absolute;
    width: calc(100% - #{$toolbar-width});
    span {
      display: none;
      @include media("≥desktop") {
        display: inline;
      }
    }
  }
}