.creator-actions {
  position: relative;
  @include media("≥desktop") {
    @include span(5 of 12 last);
    height: 100vh;
    border-left: 1px solid $border-color;
  }
}

.creator-actions__header {
  background: #FFF;
  border-bottom: 1px solid $border-color;
  padding: 10px 20px;
  p {
    margin: 0;
  }
  @include media("≥desktop") {
    height: 50px;
  }
}

.creator-design-elements {
  overflow: hidden;
  background: #F9F9F9;
  @include media("≥desktop") {
    height: calc(100vh - #{$design-footer-height});
    overflow: scroll;
  }
}

.creator-design-elements__list {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  @include layout($gallery);
  @include media("≥desktop") {

    padding: 20px 20px $design-footer-height 20px;
    height: auto;
  }
}

.creator-design-elements__element {
  border: 2px dashed #DDD;
  border-radius: 4px;
  padding: 20px;
  cursor: move;
  background: #FFF;
  position: relative;
  width: 100px;
  &:hover {
    border-color: #AAA;
  }

  @include media("≥desktop") {
    @include gallery(1 of 3);
    margin-bottom: gutter(6);
  }
  @include media(">bigscreen") {
    @include gallery(1 of 4);
  }
}

.draggable {
  position: relative;
  top: 0;
  left: 0;
  img {
    user-select: none;
    display: block;
    width: 200px;
  }
}

.drag-element-clone {
  position: absolute;
  img {
    width: 100%;
  }
}

.resize-handle {
  position: absolute;
  background: yellow;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 10px;
}

.creator-actions__footer {
  background: #FFF;
  text-align: center;
  padding: 10px 20px;
  button {
    @extend %vertical-center;
  }
  @include media("≥desktop") {
    border-top: 1px solid $border-color;
    height: $design-footer-height;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
}

.creator-actions__save {
  position: fixed;
  width: 100%;
  padding: 30px 30px 50px 30px;
  background: #FFF;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 1px solid #EEE;
  transform: translateY(100%);
  transition: all 0.7s cubic-bezier(.87,-.41,.19,1.44);
  &.is-open {
    transform: translateY(40px);
  }
  @include media("≥desktop") {
    position: absolute;
    width: calc(100% + 50px);
    top: 0;
    border-left: 1px solid #EEE;
    transform: translateY(0) translateX(100%);
    &.is-open {
      transform: translateY(0) translateX(0);
    }
  }
}