.form {
  padding: 0;
  &__element {
    padding: 5px 0;
    &--checkbox {
      font-size: 0.9em;
      padding: 5px 0;
      label { cursor: pointer; }
    }
    &--btn {
      margin-top: 15px;
    }
  }
  label {
    display: block;
    font-weight: 500;
  }
  &__secundary-action {
    padding: 10px 0 0 0;
    color: lighten($text-color,20%);
    display: block;
    .btn {
      margin-left: 10px;
    }
    @include media("≥desktop") {
      padding-left: 14px;
      display: inline-block;
    }
  }
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #DDD;
  background: #FFF;
  -webkit-appearance: none;
  .blue & { border: none; }
}

input[type="checkbox"] {
  margin-right: 5px;
}

.input {
  &--block {
    width: 100%;
    max-width: 380px;
  }
}

.form--contact {
  max-width: 340px;
  text-align: left;
  margin: 0 auto;
  p {
    margin-top: 20px;
  }
}