.form {
  padding: 10px 0;
  &__element {
    padding: 10px 0;
    &--checkbox {
      font-size: 0.9em;
      padding: 5px 0;
    }
  }
  label {
    display: block;
    font-weight: 500;
  }
  &__secundary-action {
    padding: 10px 0 0 0;
    color: lighten($text-color,20%);
    display: block;
    .btn {
      margin-left: 10px;
    }
    @include media("≥desktop") {
      padding-left: 10px;
      display: inline-block;
    }
  }
}

input[type="text"],
input[type="email"],
textarea {
  padding: 7px;
  border: 1px solid #DDD;
  background: #FFF;
  border-radius: 0;
  -webkit-appearance: none;
}

.input {
  &--block {
    width: 100%;
    max-width: 300px;
  }
}