.creation-actions {
  border-top: 1px solid $border-color;
  text-align: center;
  position: relative;
  @include media("卡esktop") {
    text-align: left;
    border: none;
    @include span(4 of 12 inside no-gutters);
    height: 85vh;
  }
  &__header {
    padding: 20px 20px 5px 20px;
    @include media("卡esktop") {
      padding: 60px 20px 0 70px;
    }
  }
  &__order,
  &__create {
    padding: 0 20px;
    @include media("卡esktop") {
      padding: 15px 70px;
    }
  }
  &__share {
    padding: 20px;
    margin-top: 25px;
    border-top: 1px solid $border-color;
    @include media("卡esktop") {
      padding: 20px 20px 20px 70px;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      margin-top: 0;
    }
  }
}